@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
.start-container {
  height: 50px;
  width: 100%;
  background-color: rgb(210, 216, 216);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  border-bottom: 2px solid rgb(103, 63, 141);
}
.start-container span {
  font-weight: 600;
}
.start-container button {
  border-radius: 15px;
  border: 1px solid rgb(103, 63, 141);
  color: rgb(103, 63, 141);
  cursor: pointer;
  padding: 8px 14px;
  font-size: 18px;
}
.start-container button:hover {
  background-color: rgb(103, 63, 141);
  color: aliceblue;
}
.black-container {
  content: "";
  background-color: black;
  width: 100%;
  height: 20px;
}
.main-container img {
  width: 100%;
  height: 100vh;
}
.about-container {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-container .sp1 {
  color: #a8a8a8;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-container .main {
  margin: 25px;
  color: #ffffff;
  font-weight: 600;
  font-size: 60px;
}
.about-container .main span {
  color: red;
  font-weight: 400;
}
.about-container .sp2 {
  color: #a8a8a8;
  width: 70%;
  font-size: 20px;
  margin-bottom: 25px;
}
.about-container .sp3 {
  color: #ff5900;
  font-size: 16px;
}
.about-container i {
  font-size: 14px;
}
.services-container {
  position: relative;
  left: 15%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  flex-direction: column;
}
.services-container h2 {
  position: absolute;
  left: 2%;
  color: #ffffff;
  font-weight: 600;
  font-size: 50px;
}
.services-container .service-data {
  color: #a8a8a8;
  display: flex;
  margin: 10% 2%;
  font-size: 16px;
}
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  background-color: #a8a8a8;
  padding: 10px;
  gap: 20px;
}
.work-container .col4 {
  margin-top: 70px;
  position: relative;
  width: 20%;
  overflow: hidden;
}
.col4 .col-image img {
  width: 100%;
  height: auto;
  display: block;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 70px;
  padding: 10px;
}
.overlay h2 {
  text-align: left;
  font-size: 18px;
  padding: 10px;
  font-weight: 300;
}
#partners {
  width: 90%;
  margin: auto;
  background-color: #fafafa;
  display: flex;
  padding: 50px 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.heading h1 {
  font-weight: 200;
  line-height: 40px;
  font-family: sans-serif;
  font-size: 78px;
}
#partners .line {
  width: 2px;
  height: 80%;
  background-color: black;
}

.partners-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners-list ul {
  list-style-type: none;
}
.partners-list ul li {
  display: inline-block;
  margin-right: 5px;
}
#coming-soon {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.banner-img img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}
.text-overlay h1 {
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 62px;
}
.text-overlay .center {
  text-align: center;
  margin: auto;
  background: transparent;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: wheat;
}
.text-overlay img {
  filter: invert();
  width: 50px;
  margin-right: 20px;
  font-weight: 300;
}
.text-overlay p {
  font-size: 30px;
}
.all-videos {
  border: 1px solid white;
  margin-top: 100px;
  font-size: 15px;
}
.footer-con {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-con .col1 {
  display: flex;
}
.my-line {
  width: 2px;
  height: 80%;
  margin-right: 40px;
  background-color: #ffffff;
}
.l-f {
  color: #ffffff;
}
.l-f p {
  font-weight: 200;
  font-size: 16px;
  font-style: normal;
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 79px;
  line-height: 40px;
}
.l-f form input {
  border: 1px solid white;
  font-size: 15px;
  margin-top: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  height: 40px;
  background: transparent;
  width: 70%;
}
.form-btn {
  width: 20%;
  font-size: 15px;
  height: 45px;
  border: 1px solid #ff5900;
  color: #ff5900;
  background: transparent;
}
.l-f p {
  font-weight: 200;
  font-size: 17px;
  font-family: sans-serif;
  font-style: normal;
  margin-bottom: 20px;
}
.l-f a {
  text-decoration: underline;
}
.r-f {
  color: #ffffff;
  margin-right: 30px;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
}
.r-f h1 {
  font-size: 30px;
}
.r-f p {
  margin: 10px;
}
a {
  text-decoration: none;
}
.social ul {
  list-style-type: none;
  margin-left: -20px;
}
.social ul li {
  display: inline-block;
  margin-right: 30px;
}
.social ul li i {
  margin: 20px;
  font-size: 30px;
}
video h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  margin-top: 50px;
}
